body
{
    font-family:$font;
}

.header
{
    background: $dark;
    .page-title
    {
        color: $green;
        text-align: center;
        letter-spacing: 4pt;
        font-size: $font-title*1.2;
        font-weight: bold;
        text-transform: uppercase;
    }
}