.stats-container
{
    background: $dark;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    .stats
    {
        display: flex;
        justify-content: space-between;
        &-title
        {
            & h1
            {
                margin-left: -30px;
                font-size: $font-title*1.5;
            }
            text-align: center;
            color: $green;
        }
        &-item
        {
            text-align: center;
            margin: 0 1em;
            & h1
            {
                font-size:$font-title;
                color:$green;
            }
            & p
            {
                font-size:$font-title;
                font-weight: 700;
                text-align: center;
                color: $white;
                margin-bottom: 0;;
            }
        }
        @include responsive(768px)
        {
            flex-direction: column;

            &-item
            {
                margin:1em 3em;
            }
            &-title
            {
                & h1
                {
                    margin-left: 0;
                }
            }
        }
    }
}